{% extends "oda/scorecard_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/scorecard.js"></script>
    <script>
        $(document).ready(function() {
            svg_load("scorecard", function(docroot, iso3) {
                sc = new ScorecardFrontPage(docroot, iso3);
                sc.generate_scorecord();
            }, "{{ params.iso3 }}");
        }, false);
    </script>
{% endblock %}

{% block content %}
    <object id="scorecard" data="{{ STATIC_URL }}svg/front.svg" width="100%" height="100%" type="image/svg+xml"/>
{% endblock %}
