{% extends "oda/scorecard_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/scorecard.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/roundedbargraph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/piechart.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/segmentpie.js"></script>
{% endblock %}


{% block styles %}
    <style>
        .piechart path {
            stroke: #ffffff;
            stroke-width: 0.5px;
        }
        #scorecard { width:1052.36px; height:744.09px;}
        .rb-line {
            fill:none;
            stroke:#be1e2d;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit:10;
            stroke-dasharray:3;
            stroke-width: 1.1px;
        }

        .rb-series {
            font-size:5.54409981px;
            fill:#58595b;
            font-family:Myriad-Roman;
        }

        .rb-bar {
            font-size:4px;
            font-family:Myriad-Roman;
        }

        .rb-y-tick {
            font-size:5.54409981px;
            fill:#58595b;
            font-family:Myriad-Roman;
        }

        #bargraph1_block .rb-bar, #bargraph3_block .rb-bar {
            fill: #0093d5;
        }

        #bargraph2_block .rb-bar, #bargraph4_block .rb-bar {
            fill: #DF7627;
        }

        .spg-arc-text {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="scorecard"</div>
    <script>
        var template = '{{ STATIC_URL }}svg/front.svg';
        var json = '{% url front_data params.iso3 %}';

        d3.json(json, function(e){
            d3.xml(template, 'image/svg+xml', function(xml){
                var scorecard = document.body.children[0];
                scorecard.appendChild(xml.documentElement);
 
                // load the json data
                load_front(e);
        });
    });
    </script>
{% endblock %}
