<html>
    <head>
        <script>
                var SITE_URL = "{{ SITE_URL }}";
        </script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/d3.v2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/sprintf-0.7-beta1.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/moment.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.deferred.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.math.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/miso.ds.0.1.0.js"></script>
        <!--<script type="text/javascript" src="{{ STATIC_URL }}js/miso.ds.deps.min.0.1.1.js"></script>-->

        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen"/>

        <script>
            /* A4 page */
            svg, #scorecard { width:2126px ; height:1495px;}
        </script>
        {% block styles %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
