{% extends "oda/scorecard_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/segmentpie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scorecard.js"></script>
{% endblock %}

{% block styles %}
<style>
#scorecard { width:1052.36px; height:744.09px;}
.spg-arc {
    stroke: #E6E7E8;
}
</style>
{% endblock %}

{% block content %}
    <div id="scorecard"></div>
    <script>
        var template = '{{ STATIC_URL }}svg/back.svg';
        var json = '{% url back_data params.iso3 %}';

        d3.json(json, function(e){
            d3.xml(template, 'image/svg+xml', function(xml){
		var scorecard = document.body.children[0];
                scorecard.appendChild(xml.documentElement);
 
                // load the json data
                load_back(e);
            });
        });
    </script>

{% endblock %}
