{% extends "oda/scorecard_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/scorecard.js"></script>
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div id="scorecard"></div>
    <script>
        d3.xml("{{ STATIC_URL }}svg/back.svg", "image/svg+xml", function(xml) {
            var importedNode = document.importNode(xml.documentElement, true);
            d3.select("#scorecard").node().appendChild(importedNode);
            sc = new WHO.ScorecardFrontPage(importedNode, "{{ params.iso3 }}", SITE_URL);
            sc.generate_scorecord();
        });
    </script>
{% endblock %}
