{% extends "oda/scorecard_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/segmentpie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scorecard.js"></script>
{% endblock %}

{% block styles %}
<style>
    .spg-arc {
        stroke: #E6E7E8;
        stroke-width: 12.5px;
    }
    .spg-arc:hover {
        fill-opacity: 0.5;
    }

    circle:hover {
        fill-opacity: 0.5;
    }

    .spg-arc-text {
        font-size: 18pt;
    }
</style>
{% endblock %}

{% block content %}
    <div id="scorecard"></div>
    <script>
        var template = '{{ STATIC_URL }}svg/back.svg';
        var json = '{% url back_data params.iso3 %}';

        d3.json(json, function(e){
            d3.xml(template, 'image/svg+xml', function(xml){
                var scorecard = document.body.children[0];
                scorecard.appendChild(xml.documentElement);
 
                // load the json data
                load_back(e);
            });
        });
    </script>

{% endblock %}
