@font-face {
    font-family: 'UniversLT-LightUltraCondensed';
    src: url('uluc.ttf');
}

@font-face {
    font-family: 'Calibri';
    src: url('calibri.ttf');
}

#_countryname_1 {
    font-family: 'UniversLT-LightUltraCondensed';
    fill: blue;
    display: none;
}

